

body{
    font-family: cursive;
    margin: 0px;

 }

 #top{
     text-align: center;


 }



#logo{
     color:white;
     background-color:rgb(52, 219, 30);
     display:inline;
     font-size: 32px;
     font-weight:bold ;
     padding: 8px;

  
  }

  #logo-name{
      font-size: 32px;
      font-weight: bold;
      margin: 16px;


  }
  
  #navigation a {
      color:rgb(94, 93, 93);
      padding:8px
  }

  #navigation a:hover{
      color:rgb(52, 219, 30)
  }
  

#image img {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}

#main {
    max-width: 800px;
    margin: auto;
    padding: 16px;
}

#footer {
    text-align: center;
    color:gray;
    padding: 24px;
    
}